<footer>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <a class="logo"><img src="assets/images/logo.png" alt=""></a>
        <div class="footer">
            <div class="fota1">
                <h4 class="design-font-size">DESIGNEMY</h4>
                <p class="copyright">copyright c 2019 designemy <br>
                    Terms of use Privacy Policy
               </p>
            </div>
            <div class="fota">
                <p class="follow">Follow Us</p>
                <a> <i class="fab fa-facebook-square"></i></a>
                <a><i class="fab fa-twitter-square"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
                <a class="youtube"> <i class="fab fa-youtube-square"></i></a>  
            </div>
            <div class="fota">
                <p class="address">Gimba road Jimeta Yola, ADAMAWA<br>
                +234957804021<br>
                 designemytop@yahoo.com</p>
            </div>
        </div>
            
        </div>
      </div>
</footer>




