
<section class="container-fluid">
  <div class="card bg-dark text-white">
    <img src="/assets/images/tailoring.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Mathematics</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nemo architecto sequi assumenda quam ipsum hic temporibus nobis recusandae corrupti.</p>
    </div>
  </div>
</section>


<!-- Course Section -->
<section class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/assets/images/Rectangle 111.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tailoring</h5>
        </div>

      </div>
    </div>
  <div class="col">
    <div class="card h-100">
      <img src="/assets/images/Rectangle 111 (1).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tailoring</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/assets/images/Rectangle 111 (2).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tailoring</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/assets/images/Rectangle 111 (3).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tailoring</h5>
      </div>
    </div>
  </div>
</div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/assets/images/Rectangle 111 (7).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mathematics</h5>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/images/Rectangle 111 (6).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mathematics</h5>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/images/Rectangle 111 (5).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mathematics</h5>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/images/Rectangle 111 (4).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mathematics</h5>
        </div>

      </div>
    </div>
  </div>
</section>
